*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(57, 51, 51);
}
.nav-bar{
    border: 2px solid;
    background-color: rgb(161, 113, 206);
    width: 100vw;
    height: 10vh;
    position: sticky;
    top: 0px;
    margin: auto;
    z-index: 3;
}
.green-block{
    background-color: darkgreen;
    width: 90vw;
    min-height: 70vh;
    margin: 20px auto;
    display: flex;
}
.green-block>.block{
    border: 2px solid;
    width: 20vw;
    height: 50vh;
    margin: 10px ;
    padding: 40px;
    position: relative;
    left: 250px;   
}
.block1{
    background-color: tomato;    
}
.block2{
    background-color: cornflowerblue;
}
.note{
    border: 2px solid;
    border-radius: 10vh;
    padding: 20px;
    margin-left: 320px;
    width: 50vw;
    height: 20vh;
    
}
.note>h2{
    text-align: center;
   position: relative;
    top: 35px;
    font-size: xx-large;
}
.footer{
background-color: blanchedalmond;
width: 100vw;
height: 9vh;
margin-top: 20vh;
}
.shape{
    height: 50px;
    width: 50px;
    background-color: darkgoldenrod;
    border-radius: 50%;
    display: inline-block;
    position: fixed;
    top: 550px;
    left: 75vw;
}